<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /other/ecommerce-frontend-adminpanel/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /other/ecommerce-frontend-adminpanel/index.html [L]
</IfModule>
